
* {
    padding: 0px;
    margin: 0px auto;
    box-sizing: border-box;
}
.wrapper {
    width: 900px;
    height: 700px;
    box-sizing: border-box;
}
header {
    width: 900px;
    height: 80px;
    border: 1px solid black;
    background-color: brown;
}
header h1 {
    color: #936a06;
    text-shadow: -3px -3px 3px white;
    line-height: 80px;
}
nav {
    height: 50px;
    width: 900px;
    border: 1px solid black;
}
.menu li {
    display: inline-table;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
}
.menu li a {
    text-decoration: none;
    color: brown;
}
.content {
    width: 900px;
    height: 600px;
    border: 1px solid black;
}
.content img {
    width: 900px;
    height: 100px;
}
#form1 {
    height: 500px;
    width: 65%;
    float: left;

}
#form1 h2 {
    color: #f0df96;
    padding-left: 20px;
}
#form1 input {
    width: 480px;
    height: 30px;
    border: 1px solid white;
    border-top: 1px solid black;

}
section {
    padding-left: 50px;
    padding-right: 50px;
}
section p {
    color: #f0df96;
    padding-top: 10px;
    padding-bottom: 30px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
section button {
    margin-top: 30px;
    width: 120px;
    height: 30px;
    background-color: #7f7f00;
}
aside {
    width: 35%;
    height: 500px;
    float: left;
    border-left: 1px solid yellowgreen;
}
#phan1 {
    width: 80%;
    height: 200px;
    background-color:bisque;
    margin: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#phan1 h4 {
    padding-top: 10px;
    padding-left: 10px;
    color: rgb(85, 19, 19);
    letter-spacing: 2px;
}
#phan1 ul {
    padding-left: 60px;
    padding-top: 40px;
    color: brown;
}
#phan2 {
    width: 80%;
    height: 150px;
    margin: 30px;
}
#phan2 h4 {
    padding-bottom: 20px;
    padding-left: 10px;
    color: rgb(85, 19, 19);
    letter-spacing: 2px;
}
#phan2 p {
  text-align: justify;
}
#phan2 p img {
    width: 100px;
    height: 80px;
    float: left;
    padding: 10px;
    border: 1px solid rgb(176, 231, 9);
   margin-right: 10px;
}
footer {
    width: 900px;
    height: 50px;
    border: 1px solid black;
}
footer img {
    float:left;
    height: 50px;
    width: 900px;
    margin-top: -5px;
}
footer p {
    position: absolute;
    left: 400px;
    bottom: -30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
